.jumbotron {
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 2%;
	padding-top: 0px !important; 
	padding-bottom: 0px !important; 
	padding-left: 15% !important;
	padding-right: 15% !important;
	background-color: rgb(245,245,245) !important;
	border: 2px solid rgb(236,236,236) !important;
}

.headerText {
	text-align: center;
}

.formError {
	display: none;
}

.requiredSign {
	color: red;
}

.form-control {
	padding: 0px !important;
}

.form-check-label {
	font-weight: normal;
}

.form-group {
	padding: 0px;
}

.active {
	color : white;
	background-color : rgb(90,192,223);
}

.error-border {
	border-color: red !important;
}

.navigationPills{
	margin: auto !important;
	width: 70% !important;
}

#resultsSection {
	margin-top: 0.5%;
}

h4 {
	margin-top: 2% !important;
}

.favourites_icon {
	height : 20px;
	width : 20px;
}

#clearSearchForm {	
	border: 1px solid rgb(223,223,223) !important;
}

.btn-primary-outline {
	background-color: transparent !important;
	border-color: #ccc !important;
}

.detailsBtnDiv {
	float: right;
}

.detailsBtn {
	border: 1px solid gray !important;
}

.favoritesBtn {
	border: 1px solid gray !important;
}

.placeDetailsBtn {
	border: 1px solid gray !important;
}

.table-responsive {
	margin-top: 0.5%;
}

.paginationButtons {
	border: 1px solid black !important;
	margin-right: 2px;
}

.paginationPane {
}

.hideElement {
	display: none !important;
}

.progress {
	margin-top: 5%;
}

.table-responsive {
	vertical-align: middle;
	font-size: 14px;
}


.backToLatestSearch {
	border: 1px solid gray !important;
}

#nearbyPlacesResults th, td {
	vertical-align: middle !important;
}

#tweetBtn {
	margin-left: 1%;
	/*background-image: url('http://cs-server.usc.edu:45678/hw/hw8/images/Twitter.png');*/
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 40px
}

#addToFavouritesBtn {
	float: right;
}

#tweetBtn {
	float: right;
}

#placeDetailsDiv{
	margin-top: 1%;
}

#currentlySelectedPlace {
}


.stars-outer {
	display: inline-block;
	position: relative;
	font-family: FontAwesome;
}

.stars-outer::before {
	content: "\f006 \00a0 \f006 \00a0 \f006 \00a0 \f006 \00a0 \f006";
}

.stars-inner {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
}

.stars-inner::before {
	content: "\f005 \00a0 \f005 \00a0 \f005 \00a0 \f005  \f005";
	color: #f8ce0b;
}

.stars-outer {
	display: inline-block;
	position: relative;
	font-family: FontAwesome;
}


#pageDetailsBlock {
	width: 100%;
}


.imageGridRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 4px;
}

.imageGridCol {
	-ms-flex: 25%; 
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.imageGridCol img {
	margin-top: 8px;
	vertical-align: middle;
}


@media screen and (max-width: 800px) {
	.column {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.imageGridCol {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}

.marginTop1 {
	margin-top: 1%;
}

#placeMapArea {
	margin-bottom: 10%;
}

#getDirectionsOnMap {
	
}

.mapBtn {
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid gray;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 7px;
	cursor: pointer;
}

#pegman {
	/*background-image: url('http://cs-server.usc.edu:45678/hw/hw8/images/Pegman.png');*/
}


#searchMap {
	/*background-image: url('http://cs-server.usc.edu:45678/hw/hw8/images/Map.png');*/
}

#mapArena {
	height: 400px;
	position: relative;
}

.full-height-width {
	height: 100%;
	width:100%;
}

.reviewDiv {
	border: 1px solid rgb(243,243,243);
	margin-top: 1%;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 1%;
	display: inline-flex;
	width: 100%;
}

#reviewersPhoto {
	height: 50px;
	width: 50px;
}

.color-gray {
	color: gray;
}

#min-rating {
	display: inline-block;
}

.jq-ry-container {
	display: inline-block !important;	
}
.rounded-image {
	border-radius: 50%;
}

.top-margin-2p {
	margin-top: 1%;
	padding-bottom: 1%;
	margin-left: 1%;
	width: 45px;
	display: -webkit-inline-box;
}
#reviewsSortingOptions {
	margin-left: 1%;
}

.displayInlineFlex {
	display: inline-flex;
}

.yellowColored{
	color: rgb(253, 212, 68)
}

.fullWidth {
	width: 100%;
}

#errorBanner {
	margin-top: 1%;
}

.animate-hide {
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	-moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	-o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	line-height:20px;
	opacity:1;
	padding:10px;
	background:white;
	position: absolute;
	left: 0;
}

.animate-hide.ng-hide {
	left: -100%;
	opacity:0;
	padding:0 10px;
}

#favouritesTable {
	border:  0px;
} 

#resultTable {
	border: 0px;
}

#placesResultsSection{
	position: relative;
}


.placeReview {
	animation: fadein 2s;
	-moz-animation: fadein 2s; /* Firefox */
	-webkit-animation: fadein 2s; /* Safari and Chrome */
	-o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-moz-keyframes fadein { /* Firefox */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-o-keyframes fadein { /* Opera */
	from {
		opacity:0;
	}
	to {
		opacity: 1;
	}
}
#noPhotos {
	width: 100%;
}

.width75px {
	width: 75px;
}

.margin-top1P {
	padding-left: 10px;
}

#reviewersPhoto {
	height: 45px !important;
	width: 45px !important;
}
#detailsTabPane {}

.relativePosition {
	position: relative;
}

.animate-hide-right {
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	-moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	-o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	line-height:20px;
	opacity:1;
	padding:10px;
	background:white;
	position: absolute;
	right: 0;
}

.animate-hide-right.ng-hide {
	right: -100%;
	opacity:0;
	padding:0 10px;
}

.noWrap {
	white-space: nowrap;
}